<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">实验室</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">实验列表</a></li>
                        <li><a href="#">实验资料</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">登录</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">介绍</div>
            <div class="panel-body row">
                <div class="left col-sm-4"><img src="images/logo.jpg" alt=""></div>
                <div class="right col-sm-7" style="margin-top: 60px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南昌大学物理实验教学中心创建的前身是江西大学物理系普通物理实验室、近代物理实验室、物理专业实验室、江西工业大学基础课部大学物理实验室、江西医学院医用物理实验室。1993年江西大学与江西工业大学合并组建成立南昌大学，全校物理实验教学任务由原江西大学物理系普通物理实验室、专业物理实验室、近代物理实验室和江西工业大学基础课部大学物理实验室承担。 2003年，南昌大学整体搬迁前湖新校区，利用迁校的机遇，进行了教学资源整合，以原江西大学和江西工业大学两校物理实验教学资源为基础，组建南昌大学基础物理实验中心为全校十大基础实验教学中心之一。学校专门建造了一栋六层58见实验用房共5000平方米实验面积的基础实验大楼，用于全校理、工、医个学科及部分文科专业学生的基础物理实验教学。同时，学校为中心投入1600多万元资金购置基础实验仪器设备及相关设施，扩充完善实验项目，改善教学条件，保障全校各学科大量的基础实验教学。
                </div>
            </div>
        </div>
        <div class="panel panel-default list-content">
            <div class="panel-heading"><span class="pull-left">最近实验</span><span class="pull-right">更多>></span>
                <div style="clear: both;"></div>
            </div>
            <div class="panel-body row">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="images/logo.jpg" width="64" height="64"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">计算机网络实验</h4>
                        <span>计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验</span>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img class="media-object" src="images/logo.jpg" width="64" height="64"></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">计算机网络实验</h4>
                        <span>计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验计算机实验</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>